<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.chvs.habrdemo.core.habr.response.article.ArticleResponseMapper">
    <select id="findById" resultMap="ArticleMap">
        SELECT id,
               created_at,
               header,
               body
        FROM articles
        WHERE id = #{id};
    </select>

    <resultMap id="ArticleMap" type="ArticleResponse" autoMapping="true">
        <id column="id" property="id" javaType="java.lang.Long"/>
        <result column="created_at" property="createdAt" javaType="java.time.LocalDateTime"/>
        <result column="header" property="header" javaType="java.lang.String"/>
        <result column="body" property="body" javaType="java.lang.String"/>
    </resultMap>
</mapper>